.DS_store
core-sodium/dump_data.bin
core-sodium/hdl.var
core-sodium/cds.lib
core-sodium/ncsim.log
core-sodium/ncelab.log
core-sodium/ncvlog.log
core-sodium/ncsim.key
core-sodium/nclaunch.key
core-sodium/waves.shm
core-sodium/INCA_libs
core-sodium/.*
